html {
  background-color: black;
}

body {
  width: 1440px;
  height: 800px;
  background-color: white;
  background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
  background-repeat: no-repeat;
  background-position: 0% 0%, 100% 100%;
  position: relative;
  margin: auto;
  margin-top: 7%;
}

h1 {
  color: #502050;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 45px;
  margin-bottom: 10px;
}

p {
  color: #937B92;
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

img {
  width: 40px;
  border-radius: 40px;
  margin: auto;
  margin-right: 15px;
  margin-top: 45px;
  margin-left: 30px;
}

.topleft {
  width: 480px;
  display: inline-block;
  margin-top: 100px;
  margin-left: 160px;
}

.topright {
  display: inline-block;
  position: absolute;
  margin-top: 145px;
  margin-left: 110px;
}

.reviews, .reportguru, .besttech {
  background-color: #F7F2F7;
  border-radius: 10px;
  width: 380px;
  color: #502050;
  display: inline-block;
  font-family: 'Spartan', sans-serif;
  font-weight: 800;
  font-size: 14px;
  padding: 18px 32px 18px 30px;
  position: relative;
}

.reviews {
  margin-bottom: 15px;
}

.reportguru {
  margin-bottom: 15px;
  margin-left: 50px;
}

.besttech {
  margin-left: 100px;
}

.bottomsection {
  margin: auto;
  position: absolute;
  display: inline-block;
}

.bubblecontainer1, .bubblecontainer2, .bubblecontainer3 {
  background-color: #502050;
  width: 350px;
  height: 235px;
  border-radius: 10px;
  display: flex;
  position: absolute;
}

.bubblecontainer1 {
  margin-left: 160px;
  margin-top: 60px;
}

.bubblecontainer2 {
  margin-left: 540px;
  margin-top: 80px;
}

.bubblecontainer3 {
  margin-left: 920px;
  margin-top: 100px;
}

.name {
  color: white;
  display: inline-block;
  font-family: 'Spartan', sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 95px;
  margin-top: 50px;
  position: absolute;
}

.buyertype {
  color: #EE68A4;
  display: inline-block;
  font-family: 'Spartan', sans-serif;
  font-size: 13px;
  font-weight: 200;
  margin-left: 95px;
  margin-top: 70px;
  padding-top: 0;
  position: absolute;
}

.buyerreview {
  color: white;
  display: inline-block;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-top: 110px;
  margin-left: 30px;
  margin-right: 30px;
  position: absolute;
}

.attribution {
  font-family: 'Spartan', sans-serif;
  font-size: 11px;
  position: absolute;
  bottom: 2px;
  display: block;
  margin: 100% 0% 0% 40%;
}
